.avisos {
    height: auto;
    width: 70%;
    margin: 8px auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.container-avisos {
    height: 160px;
    margin-bottom: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.aviso {
    background-color: $yellow-color;
    height: 80px;
    width: 216px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        transform: scale(1.1);
    }
}

.texto-aviso {
    color: $header-color;
    font-family: $main-font;
    font-weight: bold;
    font-size: 24px;
}

.anuncio {
    height: 30%;
    width: 50%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.texto-anuncio {
    color: black;
    font-family: $main-font;
    font-weight: bold;
    font-size: 32px;
}
