#footer {
    background-color: $footer-color;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-dono {
    color: $main-color;
    font-family: $footer-font;
    font-size: 32px;
}
