.respostas {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container-respostas {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 720px;
    height: 64px;
    margin: 16px 16px;
    text-align: justify;

    background-color: $header-color;
}

.container-button {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-start;

    background-color: $main-color;
    color: $red-color;
    width: 56px;
    height: 56px;
    margin-left: 16px;

    border-radius: 50%;

    font-family: $main-font;
    font-weight: bold;
    font-size: 32px;

    transition: 300ms;

    &:hover {
        transform: scale(1.05);
    }
    &:focus {
        color: black;
        background-color: $yellow-color;
    }
}

.texto-resposta {
    color: $main-color;
    font-family: $main-font;
    font-size: 32px;
    margin-right: 32px;
}

.relogio {
    margin-top: 16px;
    margin-left: 32px;
    align-self: flex-start;
}
