// Variable declaration goes here

// Colors
$header-color: #10106d;
$main-color: #e1e3e1;
$footer-color: #4c2719;
$red-color: #710e00;
$yellow-color: #f7f007;

// Fonts
$title-font: "Anton", sans-serif;
$footer-font: "Lobster", cursive;
$main-font: "Raleway", sans-serif;
