/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#header {
  background-color: #10106d;
  width: 100%;
  height: 176px;
  display: flex;
  align-items: center;
  justify-content: center; }

.container-header {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  width: 30%; }

.texto-principal {
  color: #f7f007;
  font-family: "Anton", sans-serif;
  font-size: 96px; }

.texto-alternativo {
  color: #e1e3e1;
  font-family: "Lobster", cursive;
  font-size: 72px; }

#main {
  background-color: #e1e3e1; }

.perguntas {
  background-color: #710e00;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center; }

.container-perguntas {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 75%;
  height: 100%;
  line-height: 3vh; }

.pergunta {
  color: #e1e3e1;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: justify; }

.respostas {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.container-respostas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 720px;
  height: 64px;
  margin: 16px 16px;
  text-align: justify;
  background-color: #10106d; }

.container-button {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
  background-color: #e1e3e1;
  color: #710e00;
  width: 56px;
  height: 56px;
  margin-left: 16px;
  border-radius: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 32px; }

.texto-resposta {
  color: #e1e3e1;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  margin-right: 32px; }

.relogio {
  margin-top: 16px;
  margin-left: 32px;
  align-self: flex-start; }

.avisos {
  height: auto;
  margin-top: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.container-avisos {
  height: 160px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.aviso {
  background-color: #f7f007;
  height: 80px;
  width: 216px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.texto-aviso {
  color: #10106d;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 24px; }

.anuncio {
  height: 30%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center; }

.texto-anuncio {
  color: #710e00;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 32px; }

#footer {
  background-color: #4c2719;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center; }

.texto-dono {
  color: #e1e3e1;
  font-family: "Lobster", cursive;
  font-size: 32px; }

/*# sourceMappingURL=styles.css.map */
